@import "../vars";

body {
  background-color: $color-light-grey;

  .ias-spinner {
    margin-top: 30px;
  }
  .next {
    display: none;
  }

  #scrollToTop {
    cursor: pointer;
    position: fixed;
    background-color: #EEE;
    z-index: 300;
    display: block;
    color: #222;
    text-align: center;
    font-size: 13px;
    border: 1px solid #BBB;
    box-shadow: 0 0 0 1px #fff inset, 0 1px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 0 1px #fff inset, 0 1px 4px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 0 0 1px #fff inset, 0 1px 4px rgba(0,0,0,.2);
    right: 15px;
    bottom: -6px;
    width: 70px;
    padding: 10px;
    -moz-transition: bottom 250ms ease-in-out;
    -webkit-transition: bottom 250ms ease-in-out;
    border-radius: 5px 5px 0 0;
    text-shadow: 0 1px white;
    &.offscreen {
      bottom: -100px;
      -moz-transition-duration: 250ms;
      -webkit-transition-duration: 250ms;
    }
    &:hover {
      background-color: #f4f4f4;
      color: #000;
    }
    &:active {
      padding: 10px 10px 11px;
    }

  }

  main.container {
    font-size: 13px;

    .block {
      padding: 10px 20px 10px;

      &:not(:first-child) {
        margin-top: 10px;

        .row {
          margin-top: 0;
        }
      }
      .row {

        div {

          p {
            margin-bottom: 0;
          }
        }
        .caret {
          margin-left: 7px;
        }
        .vcenter {
          display: inline-block;
          vertical-align: middle;
          float: none;
        }
      }
    }

    #sort-menu {
      display: block;
      margin: 0 12px 0 15px;

      .btn {
        padding: 10px 16px;
        text-align: left;
        background-color: $color-light-green;
        border: none;
        color: $color-white;
        -webkit-box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.55);
        -moz-box-shadow:    2px 2px 3px 0px rgba(50, 50, 50, 0.55);
        box-shadow:         2px 2px 3px 0px rgba(50, 50, 50, 0.55);
      }
    }

    .dropdown {
      .btn {
        opacity: 1;
      }
      .dropdown-menu {
        right: 15px;
        border-radius: 0;
      }
    }

    .btn + .dropdown-toggle,
    .btn,
    .form-control,
    .input-group-addon {
      border-radius: 0;
    }

    .stylish-input-group {
      margin-bottom: 20px;
      @media (max-width: 767px) {
      margin-bottom: 10px;
    }
      .form-control{
        box-shadow: 0 0 0;
        color: #333;

        &:focus {
          border-color: #adadad;
        }
      }
      .input-group-addon {
         background-color: $color-white;
        &:hover {
          background-color: #e6e6e6;
          border-color: #adadad;
          cursor: pointer;

        }
      }
      button{
        border: 0;
        background:transparent;
        &:focus {
          outline: none;
        }
      }
    }

    .rotate {
      -ms-transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }


  }

}
