@import "../vars";

body {
  background-color: $color-light-grey;

  main.container {
    font-size: 13px;

    .block {
      padding: 10px 20px 10px;

      &:not(:first-child) {
        margin-top: 10px;

        .row {
          margin-top: 0;
        }
      }
      .row {
        margin-left: 20px;

        div {

          p {
            margin-bottom: 0;
          }
        }
        .glyphicon {
          margin-left: 10px;
          font-size: 10px;
        }



        .vcenter {
          display: inline-block;
          vertical-align: middle;
          float: none;
        }
      }
    }



  }

}
