<li class="block">
    <div class="user">
        <div class="level col-md-2">10</div>
        <div class="col-md-4">
            <img src="{{ asset('bundles/infogoalkicker/assets/uifaces/128.jpg') }}" alt="thumbnail" class="img-thumbnail">
            <p class="name">Vardenis Pavardenis</p>
        </div>
        <div class="col-md-1">442</div>
        <div class="col-md-1">153</div>
        <div class="progress col-md-2">
            <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                <span>40/150</span>
            </div>
        </div>
        <div class="col-md-2">3 min</div>
    </div>
</li>