<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets filter='compass' output='bundles/infogoalkicker/css/*.css'
                '@InfoGoalKickerBundle/Resources/public/scss/bootstrap.min.css'
                '@InfoGoalKickerBundle/Resources/public/scss/general.scss'
            %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% include 'nav.html.twig' %}
        {% block body %}{% endblock %}
        {% block javascripts %}
            {% javascripts
                '@InfoGoalKickerBundle/Resources/public/js/jquery-2.1.3.min.js'
                '@InfoGoalKickerBundle/Resources/public/js/bootstrap.min.js'

            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
