<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img alt="Infogoal" src="{{ asset('/bundles/infogoalkicker/assets/logo.png') }}" class="logo">
            </a>
        </div><!-- end navbar-header -->

        <!-- the nav content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li {% if app.request.attributes.get('_route') == 'info_goal_kicker_homepage' %}class="active"{% endif %}><a href="{{ url('info_goal_kicker_homepage') }}">Stalas</a></li>
                <li><a href="users.html">Žaidėjai</a></li>
                <li><a href="timeline.html">Žaidimų istorija</a></li>
                <li><a href="badges.html">Ženkleliai</a></li>
                <li><a href="tuts.html">Pamokos</a></li>
                {% if  app.request.attributes.get('_route') != 'info_goal_kicker_homepage' %}
                    <li class="li-button"><button type="button" class="table-rez-btn display-block">Rezervuoti</button>
                {% endif %}
            </ul>
        </div><!-- end navbar-collapse -->
    </div><!-- end container-fluid -->
</nav><!-- end navbar -->
<div class="clearfix"></div>