<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <!-- Non-collapsing right-side icons -->
        {% if  app.request.attributes.get('_route') != 'info_goal_kicker_homepage' %}
            <ul class="nav navbar-nav navbar-right">
                <li class="li-button">
                    <button id="makeReservation" type="button" class="table-rez-btn display-block fa fa-cog">Rezervuoti</button>
                </li>
            </ul>
        {% endif %}

        <!-- the collapsing menu -->
        <div class="collapse navbar-collapse navbar-left" id="navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li {% if app.request.attributes.get('_route') == 'info_goal_kicker_homepage' %}class="active"{% endif %}><a href="{{ url('info_goal_kicker_homepage') }}">Stalas</a></li>
                <li {% if app.request.attributes.get('_route') == 'info_goal_kicker_users_index' %}class="active"{% endif %}><a href="{{ url('info_goal_kicker_users_index') }}">Žaidėjai</a></li>
                <li {% if app.request.attributes.get('_route') == 'info_goal_kicker_timeline_index' %}class="active"{% endif %}><a href="{{ url('info_goal_kicker_timeline_index') }}">Žaidimų istorija</a></li>
                <li {% if app.request.attributes.get('_route') == 'info_goal_kicker_badges_index' %}class="active"{% endif %}><a href="{{ url('info_goal_kicker_badges_index') }}">Ženkleliai</a></li>
            </ul>
        </div><!-- end navbar-collapse -->
        <!-- end nav-collapse -->
    </div>
    <!-- end container -->
</nav>