<div id="backgroundOverlay" class="hidden"></div>
<div id="reservationDialog" title="Patvirtinkite rezervaciją" class="hidden">
    <p>Ar tikrai norite rezervuoti stalą? Rezervacija galios <strong>vieną minutę</strong>.</p>
</div>
