{% extends "::base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/nav.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/general.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/table-free.css') }}" />
{% endblock %}

{% block title %}InfoGoalKickerBundle:Table:index{% endblock %}

{% block body %}
    <main class="container"></main>
        <div id="table" class=" col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            <img id="field-free" src="assets/soccer-field2.png" alt="Soccer field" class="img-responsive">
            <div class="table-free">
                <p>Stalas laisvas!</p>
                <button class="table-rez-btn">Rezervuoti</button>
            </div>
        </div><!-- end table -->
    </main><!-- end container -->
{% endblock %}
