<div class="col-md-4 col-sm-4 col-xs-8 player-icon">
    <img src="{{ asset('bundles/infogoalkicker/assets/uifaces/default.png') }}" alt="player" class="img-thumbnail">
</div>
<div class="col-md-8 col-sm-8 hidden-xs player-info">
    <p class="player-name">Anonimas</p>

</div>