#field-game {
  vertical-align: middle;
  margin: 0 auto;
  display: block;
  position: relative;
}

#team-0, #team-1 {
  position: absolute;
  top: 18%;
  .row {
    float: none;
    margin: 0 auto;
    &:first-child {
      margin-bottom: 35%;
    }
  }
  @media (max-width: 768px) {
    top: 16%;
  }
  @media (max-width: 992px) and (min-width: 768px) {
    .player-name {
      font-size: 20px;
    }
    top: 15%;
  }
  @media (min-width: 992px) {
    top: 15%;
  }
}

#team-0 {
  @media (max-width: 768px) {
    left: 4%;
  }
  @media (max-width: 992px) and (min-width: 768px) {
    .col-sm-6 {
      float: left;
    }
    left: 4%;
  }
  @media (min-width: 992px) {
    left: 8%;
  }
}

#team-1 {
  @media (max-width: 768px) {
    right: 4%;
  }
  @media (max-width: 992px) and (min-width: 768px) {
    .col-sm-6 {
      float: right;
    }
    right: 4%;
  }
  @media (min-width: 992px) {
    right: 8%;
  }
}

.result {
  margin: auto;
  position: absolute;
  top: 37%;
  left: 0;
  right: 0;
  @media (max-width: 768px) {
    top: 38%;
  }
  @media (max-width: 992px) and (min-width: 768px) {
    top: 41%;
  }

  div {
    padding: 10px 15px;
    font-size: 84px;
    margin: 0 auto;
    @media (max-width: 768px) {
      font-size: 32px;
    }
    @media (max-width: 992px) and (min-width: 768px) {
      font-size: 51px;
    }
  }
}