#field-game {
  vertical-align: middle;
  margin: 0 auto;
  display: block;
  position: relative;
}

.team-0, .team-1 {
  position: absolute;
  width: 40%;
  .row {
    float: none;
    margin: 0 auto;
    &:first-child {
      margin-bottom: 35%;
    }
  }
  @media (max-width: 768px) {
    top: 0;
  }
  @media (max-width: 992px) and (min-width: 768px) {
    .player-name {
      font-size: 20px;
    }
    top: 15%;
  }
  @media (min-width: 992px) {
    top: 15%;
  }
}

.team-0 {
  left: 0;
  @media (max-width: 992px) and (min-width: 768px) {
    .col-sm-6 {
      float: left;
    }
  }
}

.team-1 {
  right: 0;
  @media (max-width: 992px) and (min-width: 768px) {
    .col-sm-6 {
      float: right;
    }
  }
}

.result {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  @media (max-width: 768px) {
    top: 32%;
  }
  @media (max-width: 992px) and (min-width: 768px) {
    top: 40%;
  }
  @media (min-width: 993px) {
    top: 38%;
  }

  div {
    padding: 10px 15px;
    font-size: 84px;
    margin: 0 auto;
    @media (max-width: 768px) {
      font-size: 32px;
    }
    @media (max-width: 992px) and (min-width: 767px) {
      font-size: 51px;
    }
  }
}