@import "vars";

body {
    background-color: rgba(97, 196, 131, 1);
    font-family: $font-stack;
    margin-bottom: 70px;
}

.navbar, .navbar-default {
    background-color: $color-white;
    border-bottom: 2px solid $color-light-green;
    margin-bottom: 50px;

    .navbar-toggle {
        vertical-align: middle;
        margin: 18px 0;
        @media (max-width:767px) {
            float: left
        }
    }

    .navbar-brand {
        line-height: 70px;
        height: 70px;
        padding: 0 20px;

        .logo {
            width: 55px;
          padding-top: 7px;
        }
    }

    .navbar-collapse {
        max-height: 400px;
        text-align: center;
        padding: 0;
        @media (max-width:767px) {
            clear: both;
            float: none;
        }

        .navbar-nav {
            li {
                a {
                    line-height: 70px;
                    height: 70px;
                    padding: 0 20px;
                    color: $color-green;
                }
                &:hover {
                    background-color: #eee;
                }
            }
        }

        .navbar-nav > .active > a {
                background-color: $color-light-green;
                color: $color-white;

              &:hover {
                  background-color: $color-light-green;
                  color: $color-white;
              }
        }
    }

    .navbar-nav {
        margin: 0;
    }

    .navbar-right {
        float: right;
  }

}

.li-button {
    background-color: $color-white !important;
  .game, .reserved {
    background-color: $color-dark-gray;
    border-bottom: none;
  }
}

#table {
    margin: 0 auto;
    color: $color-white;
    text-align: center;
    position: relative;
}

.table-rez-btn {
    font-size: 14px;
    color: $color-white;
    background-color: $color-green;
    border: none;
    border-bottom: 2px solid $color-dark-green;
    padding: 10px 20px;
    text-transform: uppercase;
    margin: 14px 0;
}

.table-rez-btn#index {
  margin-left: 0;
  margin-right: 0;
}

.block {
    background-color: $color-light-green;
    color: $color-white;
    -webkit-box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.55);
    -moz-box-shadow:    2px 2px 3px 0px rgba(50, 50, 50, 0.55);
    box-shadow:         2px 2px 3px 0px rgba(50, 50, 50, 0.55);
    padding: 20px 10px 10px;
}

.progress {
  display: block;
  border-radius: 25px;
  position: relative;
  margin-bottom: 6px;
  span {
    position: absolute;
    display: block;
    width: 100%;
    color: $color-black;
  }
}

.img-thumbnail {
  border-radius: 0;
  padding: 3px;
}

#backgroundOverlay {
  background: #191919;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 0.7;
}

.ui-dialog-titlebar {

  border-bottom: 1px solid $color-light-grey;
  margin-bottom: 10px;
  padding-bottom: 5px;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;

  button {
    display: none;
  }
}

.ui-dialog {
  z-index: 99999;
  background: $color-white;
  padding: 15px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  outline: 0;

  .ui-dialog-buttonset {
    text-align: right;

    button {
      background-color: $color-green;
      border: none;
      padding: 5px 19px;
      border-bottom: 2px solid $color-dark-green;
      color: $color-white;
      outline: none;
      margin-left: 10px;
    }
  }
}

.close-link,
.close-link:hover {
  color: $color-black;
  font-weight: bold;
}

a:hover {
  text-decoration: none !important;
  color: $color-white;
}

a {
  color: $color-white;
}