@import "../vars";

body {
  background-color: $color-light-grey;

  .game {
    position: relative;
    margin-bottom: 20px;
  }
}

@import "../vars";

.ias-spinner {
  position: absolute;
  bottom: 0;
  left: 57%;
}

.timeline-centered {
  position: relative;
  margin-bottom: 30px;

  &:before, &:after {
    content: " ";
    display: table;
  }

  &:before {
    content: '';
    position: absolute;
    display: block;
    width: 4px;
    background: $color-light-green;
    left: 15%;
    top: 20px;
    bottom: 20px;
    @media (min-width: 1200px) {
      margin-left: -45px;
    }
    @media (min-width: 992px) and (max-width: 1199px) {
      margin-left: -19px;
    }
    @media (min-width: 768px) and (max-width: 991px) {
      margin-left: 12px;
    }
    @media (max-width: 767px) {
      margin-left: 29px;
    }
  }

  &:after {
    clear:both;
  }

  .timeline-entry {
    position: relative;
    width: 80%;
    float: right;
    margin-bottom: 30px;
    clear: both;
    &:before, &:after {
      content: " ";
      display: table;
    }
    &:after {
      clear: both;
    }
    .timeline-entry-inner {
      position: relative;
      margin-right: 0;
      @media (min-width: 1200px) {
        margin-left: -110px;
      }
      @media (min-width: 992px) and (max-width: 1199px) {
        margin-left: -74px;
      }
      @media (min-width: 768px) and (max-width: 991px) {
        margin-left: -32px;
      }
        &:before, &:after {
        content: " ";
        display: table;
      }
      &:after {
        clear:both;
      }
      .timeline-time {
        position: absolute;
        left: -100px;
        top: -10px;
        text-align: right;
        padding: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        @media (max-width: 767px) {
          left: -83px;
        }
        & > span {
          display: block;
          &:first-child {
            font-size: 15px;
            font-weight: bold;
          }
          @media (max-width: 767px) {
            &:first-child {
              font-size: 12px;
            }
          }
        }

      }
      .timeline-icon {
        background: $color-light-green;
        color: #737881;
        display: block;
        width: 20px;
        height: 20px;
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding;
        background-clip: padding-box;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        text-align: center;
        -moz-box-shadow: 0 0 0 5px #f5f5f6;
        -webkit-box-shadow: 0 0 0 5px #f5f5f6;
        box-shadow: 0 0 0 5px #f5f5f6;
        line-height: 40px;
        font-size: 15px;
        float: left;
      }
      .timeline-label {
        position: relative;
        margin-left: 55px;
        @media (max-width: 767px) {
          margin-left: 45px;
          padding-bottom: 90px;
        }
        &:after {
          content: '';
          display: block;
          position: absolute;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 10px 10px 10px 0;
          border-color: transparent $color-light-green transparent transparent;
          left: 0;
          top: 0;
          margin-left: -10px;
        }
      }
    }
  }
}