<div class="col-xs-12 col-sm-5 col-md-5 player-icon">
    <img src="{{ asset('bundles/infogoalkicker/assets/uifaces/default.png') }}" alt="player" class="img-thumbnail">
</div>
<div class="col-sm-7 col-md-7 hidden-xs player-info">
    <p class="player-name">Anonimas</p>
</div>