<div class="col-xs-8 col-sm-4 col-md-4  player-icon">
    <img src="{{ asset('bundles/infogoalkicker/assets/uifaces/default.png') }}" alt="player" class="img-thumbnail">
</div>
<div class="hidden-xs col-sm-7 col-md-7 player-info">
    <p class="player-name">Anonimas</p>
</div>