{% for badge in badges %}
    <div class="col-xs-12 col-sm-6 my-badge">
        <div class="badge-img">
                <img src="{{ asset('bundles/infogoalkicker/assets/badges/' ~ badge.imageUrl ~ '.png') }}">
        </div>
        <div class="badge-info">
            <p class="badge-name">{{ badge.name }}</p>

            <p class="badge-howto">{{ badge.howToGetBadge }}</p>
        </div>
    </div>
{% endfor %}