{% extends "::base.html.twig" %}

{% block title %}Profile{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='compass' output='bundles/infogoalkicker/css/*.css'
    '@InfoGoalKickerBundle/Resources/public/css/Profile/profile.scss'
    '@InfoGoalKickerBundle/Resources/public/css/Profile/player.scss'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}

    <main class="container">
        <div class="player block col-md-7">
            {% include '@InfoGoalKicker/Profile/player.html.twig' %}


            <div class="clearfix"></div>
        </div><!--end player block-->
    </main><!-- end container -->


{% endblock %}
