@import "../vars";

.badges-cnt {
  padding: 20px;
  margin: 20px 0;

  .my-badge {
    .badge-info {
      margin-left: 74px;
    }
    .badge-img {
      img {
        max-width: 64px;
      }
    }
  }

}

