@import "../vars";

.row {
  margin-left: 0;
  margin-right: 0;
}

.player {
  padding-bottom: 20px;

  .progress {
    margin-top: 20px;
  }

  .player-img {
    padding-right: 20px;
  }

  .player-name {
    @media (max-width: 768px) {
      font-size: 20px;
      height: 51px;
    }
    @media (max-width: 991px) and (min-width: 768px) {
      font-size: 22px;
    }
    @media (min-width: 992px) {
      font-size: 24px;
    }

    color: $color-white;

    word-wrap: break-word;
  }
}

.level-icon {
  width: $level-icon-dim;
  height: $level-icon-dim;
  border-radius: 90px;
  background-color: $color-white;
  color: $color-green;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  display: table;
  position: absolute;
  top: -9px;
  right: 3px;
}

.level-number {
  display: table-cell;
  vertical-align: middle;
}
