@import "../vars";

.player-name {
  font-size: 24px;
  color: $color-white;
  a {
    color: $color-white;
  }
}

a:hover {
  text-decoration: none;
}

.level-icon {
  width: $level-icon-dim;
  height: $level-icon-dim;
  border-radius: 90px;
  background-color: $color-white;
  color: $color-green;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  display: table;
  position: absolute;
  top: -9px;
  right: 3px;
}

.level-number {
  display: table-cell;
  vertical-align: middle;
}

#team-0 {
  .player-info {
    text-align: $left;
  }
}

#team-1 {
  .player-info {
    text-align: $right;
  }
  .player-icon {
    float: $right;
  }
}