$badge-dim: 100px;
$color-light-grey: rgba(242, 242, 242, 1);
$badge-margin-dim: 15px;
$color-black: #000000;
$color-white: #ffffff;

body {
  background-color: $color-light-grey;
}

.profile-badges-container {
  background-color: $color-white;
  padding: 0 0 0 20px;
  color: $color-black;
}

.my-badge {
  border: 1px solid $color-black;
  width: $badge-dim;
  height: $badge-dim;
  margin: 0 $badge-margin-dim $badge-margin-dim 0;
}