#field-game {
    vertical-align: middle;
    margin: 0 auto;
    display: block;
}

#team-0, #team-1 {
    position: absolute;
    top: 18%;
}

.row {
    float: none;
    margin: 0 auto;
}

.result div {
    border: 2px solid white;
    width: 65%;
    padding: 10px 15px;
    font-size: 28px;
    margin: 0 auto;
    background-color: rgba(97, 196, 131, 1);
}

.result {
    margin: auto;
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
}

@media (max-width: 768px) {
    #team-0 {
        left: 4%;
    }
    #team-1 {
        right: 4%;
    }
    #team-0, #team-1 {
        top: 16%;
    }
}

@media (max-width: 992px) and (min-width: 768px) {
    #team-0 {
        left: 4%;
    }
    #team-1 {
        right: 4%;
    }
    #team-0, #team-1 {
        top: 22%;
    }
}

@media (min-width: 992px) {
    .result div {
        width: 80%;
        font-size: 18px;
        margin: 0 auto;
    }
    .result {
        top: 46%;
    }
    #team-0 .row:first-child, #team-1 .row:first-child {
        margin-bottom: 35%;
    }
    #team-0, #team-1 {
        top: 20%;
    }
    #team-0 {
        left: 15%;
    }

    #team-1 {
        right: 15%;
    }
}